<!doctype html>
<head>
    <title></title>
    <base href="" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
   <link rel="stylesheet" href="assets/css/bootstrap-grid.min.css">
   <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css">
   <link rel="stylesheet" href="assets/css/slick.css">
   <link rel="stylesheet" href="assets/css/tingle.min.css">
   <link rel="stylesheet" href="assets/css/slick-theme.css">
   <link rel="stylesheet" href="assets/css/common.css">
   <link rel="stylesheet" href="assets/css/mobile.css">
</head>

<body class="tingle-content-wrapper">
    <script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-89573071-1', 'auto'); ga('send', 'pageview'); </script>
    <div class="tingle-content-wrapper">
  <header>
      <div class="container">
         <div class="hero">
            <div class="row">
               <div class="logo">
                  <a href="/">
                     <img src="assets/images/logo.png" alt="Фотосессия в Киеве - LStudio">
                  </a>
                  <div class="logo-title">


                  </div>
               </div>
               <div class="phones">
                  <span class="number"><a href="tel:+380996699264">+38 (099) 66-99-264</a></span>
                  <span class="number"><a href="tel:+380973742991">+38 (097) 37-42-991</a></span>
                  <br>
                  <span>Работаем без выходных. Звоните!</span>
                  <br>
                  <div class="head-text">
                   LSTUDIO - профессиональная съемочная группа
                   </div>

               </div>
               <div class="action">
                  <button class="btn btn-order">Заказать фотосессию</button>
                  <div class="social">

                     <a target="blank" rel="nofollow" href="https://vk.com/annaisayko"><img src="assets/images/vk-icon.png" alt="vimeo"></a>
                     <a target="blank" rel="nofollow" href="https://facebook.com/lsphotoproduction/"><img src="assets/images/facebook.png" alt="facebook"></a>
                     <a  target="blank" rel="nofollow" href="https://www.youtube.com/channel/UCgQ7AQMWhuqECDZGtHq4fKw"><img src="assets/images/youtube.png" alt="youtube"></a>
                      <div class="city-select">
                         Киев
                          <div class="city-list">
                              <a href="http://kharkov.lstudio.com.ua/">Харьков</a>
                              <a href="http://dnepr.lstudio.com.ua/">Днепр</a>
                              <a href="http://odessa.lstudio.com.ua/">Одесса</a>
                              <a href="http://zaporozhe.lstudio.com.ua/">Запорожье</a>
                              <a href="http://lviv.lstudio.com.ua/">Львов</a>
                              <a href="http://nikolaev.lstudio.com.ua/">Николаев</a>
                              <a href="http://mariupol.lstudio.com.ua/">Мариуполь</a>
                              <a href="http://vinnica.lstudio.com.ua/">Винница</a>
                              <a href="http://kherson.lstudio.com.ua/">Херсон</a>
                              <a href="http://chernihov.lstudio.com.ua/">Чернигов</a>
                              <a href="http://poltava.lstudio.com.ua/">Полтава</a>
                              <a href="http://cherkassy.lstudio.com.ua/">Черкассы</a>
                              <a href="http://khmelnitsky.lstudio.com.ua/">Хмельницкий</a>
                              <a href="http://sumy.lstudio.com.ua/">Сумы</a>
                              <a href="http://zhytomir.lstudio.com.ua/">Житомир</a>
                              <a href="http://chernovcy.lstudio.com.ua/">Черновцы</a>
                              <a href="http://rovno.lstudio.com.ua/">Ровно</a>
                              <a href="http://lstudio.com.ua/">Киев</a>
                              <a href="http://kropivnickiy.lstudio.com.ua/">Кропивницкий</a>
                              <a href="http://if.lstudio.com.ua/">Ивано-Франковск</a>
                              <a href="http://kremenchug.lstudio.com.ua/">Кременчуг</a>
                              <a href="http://ternopol.lstudio.com.ua/">Тернополь</a>
                              <a href="http://uzhgorod.lstudio.com.ua/">Ужгород</a>

                          </div>

                  </div>
                  </div>

               </div>


            </div>
         </div>


      </div>
      <div class="top-menu">
    <div class="container">

            <div class="row">
              <div class="menu-toggle">МЕНЮ</div>
               <nav>
                      <ul><li class="first active"><a href="http://lstudio.com.ua/" title="Главная" >Главная</a></li>
<li><a href="services/" title="Услуги и цены" >Услуги</a><ul><li class="first"><a href="services/newborn/" title="Фотосессия для новорожденных" >Фотосессия для новорожденных</a></li>
<li><a href="services/pregnancy/" title="Фотосессия для беременных" >Фотосессия для беременных</a></li>
<li><a href="services/dress-rent/" title="Прокат платьев для фотосессии" >Прокат платьев для фотосессии</a></li>
<li><a href="services/wedding/" title="Свадебная фотосессия" >Свадебная фотосессия</a></li>
<li><a href="services/christening/" title="Фотосессия крестин" >Фотосессия крестин</a></li>
<li><a href="services/family/" title="Семейная фотосессия" >Семейная фотосессия</a></li>
<li><a href="services/children/" title="Детская фотосессия" >Детская фотосессия</a></li>
<li><a href="services/fotosessiya-dlya-portfolio/" title="Фотосессия для портфолио" >Фотосессия для портфолио</a></li>
<li><a href="services/love-story/" title="Фотосессия Love Story" >Фотосессия Love Story</a></li>
<li><a href="services/new-year/" title="Новогодняя фотосессия" >Новогодняя фотосессия</a></li>
<li><a href="services/makeup/" title="Макияж для фотосессии" >Макияж для фотосессии</a></li>
<li class="last"><a href="services/certificates/" title="Подарочные сертификаты" >Подарочные сертификаты</a></li>
</ul></li>
<li><a href="gallery/" title="Галерея" >Галерея</a></li>
<li><a href="about/" title="О нас" >О нас</a></li>
<li><a href="reviews/" title="Отзывы" >Отзывы</a></li>
<li><a href="blog/" title="Блог" >Блог</a></li>
<li class="last"><a href="contacts/" title="Контакты" >Контакты</a></li>
</ul>

               </nav>
            </div>
            </div>
         </div>

   </header>
  <section class=" text-center">
     <div class="container">

         <div class="row">
            <h1 class="text-uppercase">LSTUDIO - ПРОФЕССИОНАЛЬНАЯ съемка в Киеве</h1>


         </div>

   </div>
   </section>

    <div class="container">
        <div class="row">
            <div class="service-page service-promo">
    <div class="row gallery-show">

    <div class="col-sm-4 col-xs-6">
        <figure class="effect-lily">

    		<img src="/assets/components/phpthumbof/cache/IMG_3248-1%20web.2a58862abe1e9daae8e5fcd68aac8db11.jpg" alt="Фотосессия для новорожденных">
		    <figcaption>
    			<div>
    				<h2>Фотосессия для новорожденных</h2>
    			</div>
    			<a href="services/newborn/"> </a>
    		</figcaption>

    	</figure>

    </div>



    <div class="col-sm-4 col-xs-6">
        <figure class="effect-lily">

    		<img src="/assets/components/phpthumbof/cache/176.2a58862abe1e9daae8e5fcd68aac8db11.jpg" alt="Фотосессия для беременных">
		    <figcaption>
    			<div>
    				<h2>Фотосессия для беременных</h2>
    			</div>
    			<a href="services/pregnancy/"> </a>
    		</figcaption>

    	</figure>

    </div>



    <div class="col-sm-4 col-xs-6">
        <figure class="effect-lily">

    		<img src="/assets/components/phpthumbof/cache/IMG_9636%20web.2a58862abe1e9daae8e5fcd68aac8db11.jpg" alt="Прокат платьев для фотосессии">
		    <figcaption>
    			<div>
    				<h2>Прокат платьев для фотосессии</h2>
    			</div>
    			<a href="services/dress-rent/"> </a>
    		</figcaption>

    	</figure>

    </div>



    <div class="col-sm-4 col-xs-6">
        <figure class="effect-lily">

    		<img src="/assets/components/phpthumbof/cache/pregn-thumb.2a58862abe1e9daae8e5fcd68aac8db11.jpg" alt="Свадебная фотосессия">
		    <figcaption>
    			<div>
    				<h2>Свадебная фотосессия</h2>
    			</div>
    			<a href="services/wedding/"> </a>
    		</figcaption>

    	</figure>

    </div>



    <div class="col-sm-4 col-xs-6">
        <figure class="effect-lily">

    		<img src="/assets/components/phpthumbof/cache/img_6978_site.2a58862abe1e9daae8e5fcd68aac8db11.jpg" alt="Фотосессия крестин">
		    <figcaption>
    			<div>
    				<h2>Фотосессия крестин</h2>
    			</div>
    			<a href="services/christening/"> </a>
    		</figcaption>

    	</figure>

    </div>



    <div class="col-sm-4 col-xs-6">
        <figure class="effect-lily">

    		<img src="/assets/components/phpthumbof/cache/img_6367.2a58862abe1e9daae8e5fcd68aac8db11.jpg" alt="Семейная фотосессия">
		    <figcaption>
    			<div>
    				<h2>Семейная фотосессия</h2>
    			</div>
    			<a href="services/family/"> </a>
    		</figcaption>

    	</figure>

    </div>



    <div class="col-sm-4 col-xs-6">
        <figure class="effect-lily">

    		<img src="/assets/components/phpthumbof/cache/img_8929_site.2a58862abe1e9daae8e5fcd68aac8db11.jpg" alt="Детская фотосессия">
		    <figcaption>
    			<div>
    				<h2>Детская фотосессия</h2>
    			</div>
    			<a href="services/children/"> </a>
    		</figcaption>

    	</figure>

    </div>



    <div class="col-sm-4 col-xs-6">
        <figure class="effect-lily">

    		<img src="/assets/components/phpthumbof/cache/IMG_8632%20web.2a58862abe1e9daae8e5fcd68aac8db11.jpg" alt="Фотосессия для портфолио">
		    <figcaption>
    			<div>
    				<h2>Фотосессия для портфолио</h2>
    			</div>
    			<a href="services/fotosessiya-dlya-portfolio/"> </a>
    		</figcaption>

    	</figure>

    </div>



    <div class="col-sm-4 col-xs-6">
        <figure class="effect-lily">

    		<img src="/assets/components/phpthumbof/cache/img_5916_web_0.2a58862abe1e9daae8e5fcd68aac8db11.jpg" alt="Фотосессия Love Story">
		    <figcaption>
    			<div>
    				<h2>Фотосессия Love Story</h2>
    			</div>
    			<a href="services/love-story/"> </a>
    		</figcaption>

    	</figure>

    </div>



    <div class="col-sm-4 col-xs-6">
        <figure class="effect-lily">

    		<img src="/assets/components/phpthumbof/cache/akcii_4.1_0.2a58862abe1e9daae8e5fcd68aac8db11.jpg" alt="Новогодняя фотосессия">
		    <figcaption>
    			<div>
    				<h2>Новогодняя фотосессия</h2>
    			</div>
    			<a href="services/new-year/"> </a>
    		</figcaption>

    	</figure>

    </div>



    <div class="col-sm-4 col-xs-6">
        <figure class="effect-lily">

    		<img src="/assets/components/phpthumbof/cache/img_6240_web.2a58862abe1e9daae8e5fcd68aac8db11.jpg" alt="Макияж для фотосессии">
		    <figcaption>
    			<div>
    				<h2>Макияж для фотосессии</h2>
    			</div>
    			<a href="services/makeup/"> </a>
    		</figcaption>

    	</figure>

    </div>



    <div class="col-sm-4 col-xs-6">
        <figure class="effect-lily">

    		<img src="/assets/components/phpthumbof/cache/img_3011_web_0.2a58862abe1e9daae8e5fcd68aac8db11.jpg" alt="Подарочные сертификаты">
		    <figcaption>
    			<div>
    				<h2>Подарочные сертификаты</h2>
    			</div>
    			<a href="services/certificates/"> </a>
    		</figcaption>

    	</figure>

    </div>



    </div>
</div>
        </div>
    </div>

   <section class="masonry-gal">
      <div class="container">
         <div class="row">

            <h2 class="text-uppercase text-center">Наши работы</h2>

            <div class="grid">
                <div class="grid-item">

    <a href="/assets/components/gallery/connector.php?action=web/phpthumb&amp;ctx=web&amp;w=0&amp;h=0&amp;zc=0&amp;far=&amp;q=90&amp;src=%2Fassets%2Fgallery%2F63%2F942.jpg"  data-fancybox="gallery" >
        <img src="/assets/components/gallery/connector.php?action=web/phpthumb&amp;ctx=web&amp;w=320&amp;h=0&amp;zc=1&amp;far=C&amp;q=90&amp;src=%2Fassets%2Fgallery%2F63%2F942.jpg" alt="fotosessiya-beremennosti-lidii-v-studii-xxl1.jpg" >
        <span class="image-title"></span>

        </a>

</div>
<div class="grid-item">

    <a href="/assets/components/gallery/connector.php?action=web/phpthumb&amp;ctx=web&amp;w=0&amp;h=0&amp;zc=0&amp;far=&amp;q=90&amp;src=%2Fassets%2Fgallery%2F63%2F943.jpg"  data-fancybox="gallery" >
        <img src="/assets/components/gallery/connector.php?action=web/phpthumb&amp;ctx=web&amp;w=320&amp;h=0&amp;zc=1&amp;far=C&amp;q=90&amp;src=%2Fassets%2Fgallery%2F63%2F943.jpg" alt="fotosessiya-beremennosti-lidii-v-studii-xxl2.jpg" >
        <span class="image-title"></span>

        </a>

</div>
<div class="grid-item">

    <a href="/assets/components/gallery/connector.php?action=web/phpthumb&amp;ctx=web&amp;w=0&amp;h=0&amp;zc=0&amp;far=&amp;q=90&amp;src=%2Fassets%2Fgallery%2F63%2F944.jpg"  data-fancybox="gallery" >
        <img src="/assets/components/gallery/connector.php?action=web/phpthumb&amp;ctx=web&amp;w=320&amp;h=0&amp;zc=1&amp;far=C&amp;q=90&amp;src=%2Fassets%2Fgallery%2F63%2F944.jpg" alt="fotosessiya-novorozhdennogo-vanechki,-19-dnej3.jpg" >
        <span class="image-title"></span>

        </a>

</div>
<div class="grid-item">

    <a href="/assets/components/gallery/connector.php?action=web/phpthumb&amp;ctx=web&amp;w=0&amp;h=0&amp;zc=0&amp;far=&amp;q=90&amp;src=%2Fassets%2Fgallery%2F63%2F945.jpg"  data-fancybox="gallery" >
        <img src="/assets/components/gallery/connector.php?action=web/phpthumb&amp;ctx=web&amp;w=320&amp;h=0&amp;zc=1&amp;far=C&amp;q=90&amp;src=%2Fassets%2Fgallery%2F63%2F945.jpg" alt="fotosessiya-novorozhdennogo-vanechki,-19-dnej5.jpg" >
        <span class="image-title"></span>

        </a>

</div>
<div class="grid-item">

    <a href="/assets/components/gallery/connector.php?action=web/phpthumb&amp;ctx=web&amp;w=0&amp;h=0&amp;zc=0&amp;far=&amp;q=90&amp;src=%2Fassets%2Fgallery%2F63%2F946.jpg"  data-fancybox="gallery" >
        <img src="/assets/components/gallery/connector.php?action=web/phpthumb&amp;ctx=web&amp;w=320&amp;h=0&amp;zc=1&amp;far=C&amp;q=90&amp;src=%2Fassets%2Fgallery%2F63%2F946.jpg" alt="fotosessiya-yaxt-klub1.jpg" >
        <span class="image-title"></span>

        </a>

</div>
            </div>

         <div class="link text-center"> <a class="btn btn-review" href="gallery/">Показать все работы</a></div>

         </div>
      </div>
   </section>
  <section class="about">
      <div class="container">
         <div class="row">

            <h2 class="text-uppercase text-center">lstudio - это</h2>
            <div class="col-sm-1"></div>
            <div class="col-sm-6">
                <div class="video">
                    <iframe width="100%" height="320" src="https://www.youtube.com/embed/pz6HXpdQn5A" frameborder="0" allowfullscreen></iframe>
               </div>
            </div>
            <div class="col-sm-5">
               <ul>
                  <li>более <span class="mark-num">500 </span>съемок</li>
                  <li>более <span class="mark-num">25</span> единиц фототехники</li>
                  <li><span class="mark-num">5</span> фотографов</li>
                  <li><span class="mark-num">2</span> стилиста</li>
                  <li><span class="mark-num">2</span> дизайнера-декоратора</li>
               </ul>
            </div>
         </div>
      </div>
   </section>
  <section class="advantage">
      <div class="container">
         <h2 class="text-uppercase text-center">Наши преимущества</h2>
        <div class="row">
<div class="col-sm-3 col-xs-6">
   <div class="item-card text-center">
      <div class="img-wrapper">
         <img src="assets/images/photo.png" alt="photo">
      </div>
      <div class="text-wrapper">
         Оборудование и техника премиум класса
      </div>
   </div>
</div>

<div class="col-sm-3  col-xs-6">
   <div class="item-card text-center">
      <div class="img-wrapper ">
         <img src="assets/images/shape.png" alt="photo-obj">
      </div>
      <div class="text-wrapper">
         Высокие стандарты качества результата
      </div>
   </div>
</div>

<div class="col-sm-3  col-xs-6">
   <div class="item-card text-center">
      <div class="img-wrapper">
         <img src="assets/images/lisr.png" alt="list">
      </div>
      <div class="text-wrapper">
         Гарантия проведения фотосессии и выполнения всех условий съемки
      </div>
   </div>
</div>

<div class="col-sm-3  col-xs-6">
   <div class="item-card text-center">
      <div class="img-wrapper">
         <img src="assets/images/clock.png" alt="photo">
      </div>
      <div class="text-wrapper">
         Быстрое выполнение заказа - от 2 недель
      </div>
   </div>
</div>
</div>
<div class="row">
<div class="col-sm-3  col-xs-6">
   <div class="item-card text-center">
      <div class="img-wrapper">
         <img src="assets/images/note.png" alt="note">
      </div>
      <div class="text-wrapper">
         Заключение договора на съемку. Возможность конфиденциальности.
      </div>
   </div>
</div>
<div class="col-sm-3  col-xs-6">
   <div class="item-card text-center">
      <div class="img-wrapper">
         <img src="assets/images/trempel.png" alt="trempel">
      </div>
      <div class="text-wrapper">
         Индивидуальное сопровождение стилиста по созданию образов.
      </div>
   </div>
</div>
<div class="col-sm-3  col-xs-6">
   <div class="item-card text-center">
      <div class="img-wrapper">
         <img src="assets/images/street.png" alt="street">
      </div>
      <div class="text-wrapper">
         Профессиональный макияж и укладка волос с сопровождением на съемке.
      </div>
   </div>
</div>
<div class="col-sm-3  col-xs-6">
   <div class="item-card text-center">
      <div class="img-wrapper">
         <img src="assets/images/people.png" alt="people">
      </div>
      <div class="text-wrapper">
         Помощь стилиста в позировании. Работа со всеми участниками съемки. Внимание к деталям
      </div>
   </div>
</div>

</div>
<div class="row">
<div class="col-sm-3  col-xs-6">
   <div class="item-card text-center">
      <div class="img-wrapper">
         <img src="assets/images/baloons.png" alt="baloons">
      </div>
      <div class="text-wrapper">
         Подбор уникальных локаций и нестандартных мест для съемки.
      </div>
   </div>
</div>
<div class="col-sm-3  col-xs-6">
   <div class="item-card text-center">
      <div class="img-wrapper">
         <img src="assets/images/makeup.png" alt="makeup">
      </div>
      <div class="text-wrapper">
         Авторский декор и аксессуары для фотосессий
      </div>
   </div>
</div>
<div class="col-sm-3  col-xs-6">
   <div class="item-card text-center">
      <div class="img-wrapper">
         <img src="assets/images/dress.png" alt="dress">
      </div>
      <div class="text-wrapper">
         Красивая Коллекция платьев и реквизита для съемок.
      </div>
   </div>
</div>
<div class="col-sm-3  col-xs-6">
   <div class="item-card text-center">
      <div class="img-wrapper">
         <img src="assets/images/plane.png" alt="plane">
      </div>
      <div class="text-wrapper">
         Личная доставка заказа. В срок.
      </div>
   </div>
</div>

</div>
      </div>
   </section>
  <section class="how-we-work text-center">
      <div class="container">
         <div class="row">

            <h2 class="text-uppercase text-center">как мы работаем</h2>
            <ul class="ul-left">
               <li>Звонок или заявка</li>
               <li>Консультация и выбор пакета услуг</li>
               <li>Подписание договора и внесение предоплаты</li>
               <li>Выбор стиля съемки</li>
               <li>Подбор локации</li>
             </ul>
              <ul class="ul-right">
               <li >Бронирование локации</li>
               <li>Подбор одежды и реквизитов</li>
               <li>Макияж и укладка</li>
               <li>Проведение съемки</li>
               <li>Получение готового результата в срок</li>
            </ul>
         </div>
      </div>
   </section>

    <section class="list">
      <div class="container">
         <div class="row">

            <h2 class="text-uppercase text-center">для вашей фотосессии:</h2>
                <ul>
   <li>- более <span class="mark">100</span> комплектов одежды, корзинок и фонов для съемки новорожденных,</li>
   <li>- более <span class="mark">50</span> платьев в детской коллекции,</li>
   <li>- более <span class="mark">20</span> комплектов family look</li>
   <li>- более <span class="mark">100</span> идей и ракурсов для съемки, </li>
   <li>- более <span class="mark">50</span> уникальных локаций, </li>
   <li>- более <span class="mark">30</span> секретов обработки Ваших кадров,</li>
   <li>- более <span class="mark">100</span> секретов хорошего настроения у Наших моделей!</li>

</ul>

         </div>
      </div>
   </section>
   <section class="reviews">
      <div class="container">
        <div class="row">

            <h2 class="text-uppercase text-center">Отзывы</h2>
            <div class="re-photo">
                <div class="img-wrapper">
  <img src="assets/images/review/thumb/img_1105-2_web.jpg" alt="review">
</div>
<div class="img-wrapper">
  <img src="assets/images/review/thumb/img_6102_web_0.jpg" alt="review">
</div>
<div class="img-wrapper">
  <img src="assets/images/review/thumb/img_0694_web.jpg" alt="review">
</div>
<div class="img-wrapper">
  <img src="assets/images/review/thumb/img_9551_web.jpg" alt="review">
</div>
<div class="img-wrapper">
  <img src="assets/images/review/thumb/img_9754.jpg" alt="review">
</div>
<div class="img-wrapper">
  <img src="assets/images/review/thumb/img_9412_web.jpg" alt="review">
</div>
<div class="img-wrapper">
  <img src="assets/images/review/thumb/img_0138_web.jpg" alt="review">
</div>
<div class="img-wrapper">
  <img src="assets/images/review/thumb/img_4638_site.jpg" alt="review">
</div>
<div class="img-wrapper">
  <img src="assets/images/review/thumb/img_3610_site.jpg" alt="review">
</div>
<div class="img-wrapper">
  <img src="assets/images/review/thumb/img_5396.jpg" alt="review">
</div>
<div class="img-wrapper">
  <img src="assets/images/review/thumb/img_5936.jpg" alt="review">
</div>
<div class="img-wrapper">
  <img src="assets/images/review/thumb/img_1278.jpg" alt="review">
</div>
<div class="img-wrapper">
  <img src="assets/images/review/thumb/img_3795-1.jpg" alt="review">
</div>
<div class="img-wrapper">
  <img src="assets/images/review/thumb/img_1494.jpg" alt="review">
</div>
<div class="img-wrapper">
  <img src="assets/images/review/thumb/img_0945-2.jpg" alt="review">
</div>
<div class="img-wrapper">
  <img src="assets/images/review/thumb/img_3634.jpg" alt="review">
</div>
<div class="img-wrapper">
  <img src="assets/images/review/thumb/img_4622.jpg" alt="review">
</div>
<div class="img-wrapper">
  <img src="assets/images/review/thumb/5_otzyv.jpg" alt="review">
</div>
<div class="img-wrapper">
  <img src="assets/images/review/thumb/4_otzyv_0.jpg" alt="review">
</div>
<div class="img-wrapper">
  <img src="assets/images/review/thumb/3_otzyv_0.jpg" alt="review">
</div>
<div class="img-wrapper">
  <img src="assets/images/review/thumb/2_otzyv_0.jpg" alt="review">
</div>
<div class="img-wrapper">
  <img src="assets/images/review/thumb/1_otzyv.jpg" alt="review">
</div>

            </div>
            <div class="re-text">
                <div class="text-wrapper">
    <p>Волшебство - это именно то, что творят эти девушки с нашими малышами. Фотосессия была на высшем уровне! Остались только позитивные эмоции и теплые воспоминания. Спасибо огромное за ваш профессионализм, творчество, терпение и труд. Было очень приятно с вами поработать, надеюсь скоро повторить, в расширенном составе, вместе с папой)<br />Всего вам самого лучшего!</p>
 </div>
<div class="text-wrapper">
    <p><span>Сказать "спасибо" -ничего не сказать!!! Это просто восторг.Долго не могли определиться с фотографом, но нам очень повезло и мы нашли Вас:-) теперь за незабываемыми фото только к Вам) Если Вы до сих пор сомневаетесь в выборе , то Аня тот человек, который воплотит в жизнь все Ваши идеи и сделает все, как для себя или своих близких!!! Спасибо огромное!!!</span></p>
 </div>
<div class="text-wrapper">
    <p><span>Привіт всім, хто завітав на сторіночку! Раджу Вам не тільки милуватися чудовими фотографіями, але й замовити собі чудову фотосесію, яка буде милувати ваше око протягом всього життя)))! Можу сказати з впевненістю, що Анічка майстер своєї справи. Фото насправді чудові та якісні! Дякую за першу фотосесію )</span></p>
 </div>
<div class="text-wrapper">
    <p><span>Огромное спасибо Ане и Вике за классную фотосессию. Получила большое удовольствие работать в вами. Вы действительно профессионалы своего дела и очень позитивные люди.</span></p>
 </div>
<div class="text-wrapper">
    <p><span>Мы очень рады что нашли таких людей как Вика и Анечка, лучших фото в нашей семье нет, а нет, теперь есть, Спасибо девочки за воспоминания на всю жизнь. Очень удобно, бысто и качественно! Приехав на съёмку можно не переживать за причёску макияж и одежду, это всё есть на месте, и лучшего макияжа и причёски мне ещё никто не делал. Фото получаются естественно и шикарно! И цены самые лучшие в Киеве!</span><br /><span>Спасибо девчёнки!!!</span></p>
 </div>
<div class="text-wrapper">
    <p><span>Вот уже больше двух лет пользуемся услугами Ани и Вики и очень ими довольны!!!От фотосессий всегда остаются позитивные эмоции, Аня всегда поддерживает, помогает расслабится и в итоге получаются супер-снимки! Вика всегда удачно подберет наряд и сделает прекрасный макияж, а также приятный собеседник)) Мы пришли первый раз на сьемку еще беременными, а теперь нашему сыну уже 2 года и все это время мы стараемся запечатлеть радостные моменты нашей семейной жизни вместе с Анечкой и Викой, за что им огромное СПАСИБО!!!Надеюсь, будем и дальше с Вами сотрудничать!</span></p>
 </div>
<div class="text-wrapper">
    <div class="list-title">Анечка, спасибо большое! Фото - чудесные! Просто радость и наслаждение для глаз. Мишка очень здорово получился крупным планом на кресле в каминном зале и в костюме дракоши. Я смотрю, Владик такой фотогеничный, если позирует). Спасибо Вам за такую красоту! Вы сделали наш вечер.</div>
 </div>
<div class="text-wrapper">
    <div class="list-title"><span>Вика и Анечка, поздравляем Вас с профессиональным праздником днем фотографа! Вы огромные умниички, и главный ваш козырь - море личного обаяния ! Еще раз спасибо за съемку, мы с Юрой до сих пор под впечатлением от атмосферы! Реализации творческих планов, много клиентов, всегда хорошей погоды вам и любви! </span><strong>Ваши верные и любящие клиенты !!!!! )))))</strong><span> </span></div>
 </div>
<div class="text-wrapper">
    <div class="list-title"><span>Анечка дорогая! Хочу сказать ОГРОМНОЕ спасибо за прекрасную профессиональную работу в которую ты вкладываешь всю свою душу!!! Ты просто волшебница!!! Я любуюсь фотографиями своей доченьки и не могу поверить что можно создать такую красоту!!! Когда я ходила беременная у меня на заставке на ноутбуке фото маленькой девочки из интернета теперь я каждый день меняю фото своей доченьки и любуюсь твоими работами!!!! Я представляю в каком восторге будут наши родители когда увидят такую красоту!!!! Желаю побольше благодарных клиентов!!!!! ❤❤❤❤</span></div>
 </div>
<div class="text-wrapper">
    <div class="list-title"><span>Хочу сказать большое спасибо Анюте за чудесную фотосессию, нам всё понравилось атмосфера,отношения,придуманные сюжете!!;))Вике отдельное спасибо за причёски и макияж ;;)))всё очень хорошо,а фотографии просто чудесны хоть наша девочка и немного капризничала ;;;))))))</span></div>
 </div>
<div class="text-wrapper">
    <p><span>Спасибо огромное за шикарную фотосессию и кучу позитива! Весь процесс съемки настолько в дружественной обстановке, особенно впечатлило то, что Аня не просто фотографировала, а сама придумывала сюжеты для фотографий. Спасибо за профессионализм, обалденные фотографии и положительные эмоции еще на долгое время! Теперь я ваша постоянная клиентка!</span></p>
 </div>
<div class="text-wrapper">
    <p><span>Спасибо за фото, не могу насмотреться! Мы просто в восторге!</span></p>
 </div>
<div class="text-wrapper">
    <p><span>Спасибо за чудесную новогоднюю фотосессию! Мы с мужем остались очень довольны) было очень приятно с Вами поработать, а фотографии нашего малыша все как на обложку))</span></p>
 </div>
<div class="text-wrapper">
    <p><span>Дорогие девочки, Аня и Вика!)</span><br /><span>От всей души поздравляем вас с прошедшими и наступающими праздниками!</span><br /><span>Мне очень хочется выразить вам огромную благодарность за то, что вы делаете! За ваш труд, талант, за вашу щедрость, за ваши сердца, умеющие любить и дарить любовь всем, кто вас окружает. Это правда - это чувствуется во всем: в атмосфере студии, во время съемки, на великолепных фотографиях. И это тем более ценно сейчас - в такое непростое время. Сохранить оптимизм, надежду, просто хорошее настроение - это самый настоящий подвиг, без преувеличения.</span></p>
 </div>
<div class="text-wrapper">
    <p>♥♥♥Анечка сразила меня наповал своим обоянием,жизнерадостностью,улыбчивостью с одной стороны и професионализмом с другой!Она развеяла мое убеждение,что я плохо получаюсь на фото)))★★★Конечно же,огромная заслуга Викуси в создании образа для сьемки - в восторге от прически (получила множество комплиментов от друзей) и макияжа -смывать не хотелось )))★★★★</p>
<p><span>Получила КОЛОСАЛЬНОЕ удовольствие от сьемки,а уж результат порадовал меня еще больше!</span><br /><span>Наша семья 100% Ваш постоянный клиент ))</span></p>
 </div>
<div class="text-wrapper">
    <p><span>Большое спасибо Анечка за фотографии!!! Ничуть не сомневались в Вашем профессионализме, а как получили фотографии, в этом только ещё больше убедились! Фотографии невероятно красивые и красочные. Спасибо за эту память на долгие-долгие годы!!!</span></p>
 </div>
<div class="text-wrapper">
    <p><span>Анечка огромное спасибо Вам за Ваш труд!!!:))) Спасибо за отличное настроение и море позитива!!:))Ваши фото просто потрясающие:)) Спасибо Вам за воспоминания которые Вы дарите людям, а Вам желаю творческих успехов в дальнейшем!!!!:))) Рекомендую всем!!! Останетесь очень довольны!!!:))</span></p>
 </div>
<div class="text-wrapper">
    <p><span>Здравствуйте! Хочу здесь выразить огромную благодарность Ане за ее талант и профессионализм! С ней не просто получаются хорошие фотографии, с ней безумно легко работать! Ее улыбка, простота и приятные шутки в миг заставляют расслабиться и получать удовольствие от процесса! Рекомендую ее всем, как очень хорошего фотографа, знающего толк в своей работе. Спасибо еще раз :)</span></p>
 </div>
<div class="text-wrapper">
    <p><span>Рекомендую Анну, как отличного профессионала! Огромный творческий потенциал, внимание к деталям, индивидуальный подход к каждому клиенту, хорошее настроение и необычайно красочные фотографии гарантированы! Это мастерская творчества, час пролетает, как миг). Спасибо, Аня!!!!</span></p>
 </div>
<div class="text-wrapper">
    <p><span>Анечка, Вы просто супер!!! настолько внимательны, вдохновляюще и потрясающе воплотили все образы!!! спасибо Вам огромное!!!</span></p>
 </div>
<div class="text-wrapper">
    <p><span>Так случилось, что самая первая наша детская и семейная фотосессия была именно у Анюты. Море позитивных эмоций, индивидуальный подход к детям. Не имею представления о том, как работают другие фотографы но, понимаю, что именно такое отношение к работе и клиентам должно быть у фотографа :)</span></p>
 </div>
<div class="text-wrapper">
    <p><span>Большое Спасибо Анечке,за ее труд)))она отличный фотограф и очень приятный и позитивный человечек,от ее работы мы в восторге,а нашей маленькой моделе очень нравится быть в гостях у Ани на фотосессиях))Анютка ты мастер своего дела,и сколько я была на фотосессиях у разных фотографов ты просто умничка,и теперь мы нашли нашего семейного фотографа)желаем тебе много положительных клиентов) </span><br /><span>И если вы еще ищете хорошего фотографа,то Анюта это то что вы искали)))</span></p>
 </div>

            </div>
            <div class="text-center">
               <button  onclick="window.location='contacts/';"  class="btn btn-review">Оставить отзыв</button>
            </div>
         </div>
      </div>
   </section>






 <footer>
  <div class="container">

         <div class="row">
            <div class="col-xs-8 width100">
                <nav class="footer-menu clearfix">

               <a href="services/family/">Семейная фотосессия</a>
<a href="services/children/">Детская фотосессия</a>
<a href="services/newborn/">Фотосессия для новорожденных</a>
<a href="services/pregnancy/">Фотосессия для беременных</a>
<a href="services/wedding/">Свадебная фотосессия</a>
<a href="services/makeup/">Макияж для фотосессии</a>
<a href="services/dress-rent/">Прокат платьев для фотосессии</a>
<a href="services/new-year/">Новогодняя фотосессия</a>
<a href="services/certificates/">Подарочные сертификаты</a>
<a href="services/christening/">Фотосессия крестин</a>
<a href="services/love-story/">Фотосессия Love Story</a>
<a href="services/fotosessiya-dlya-portfolio/">Фотосессия для портфолио</a>


            </nav>
            </div>
            <div class="col-xs-4 width100">
               <div class="phones text-right">
                  <span class="number">+38 (099) 66-99-264</span>
                  <span class="number">+38 (097) 37-42-991</span>
                  <br>
                  <span>Email: info@lstudio.com.ua</span>
                  <div class="social">
                     <a target="blank" rel="nofollow" href="https://vk.com/annaisayko"><img src="assets/images/footer-vk.png" alt="vimeo"></a>
                     <a target="blank" rel="nofollow" href="https://www.facebook.com/lsphotoproduction/"><img src="assets/images/footer-fb.png" alt="facebook"></a>
                     <a target="blank" rel="nofollow" href="https://www.youtube.com/channel/UCgQ7AQMWhuqECDZGtHq4fKw"><img src="assets/images/footer-yt.png" alt="youtube"></a>
                  </div>

               </div>
            </div>
         </div>
         <div class="row">
             <div class="col-xs-12">
             <div class="developer">
             <div class="col-xs-6">
                    <div class="text-left">
                    © 2012-2018 LStudio. Все права защищены
                     </div>
             </div>
             <div class="col-xs-6">
                 <div class="text-right">
                    Продвижение сайта - <a href="http://seonic.top/" target="_blank" rel="nofollow" style="text-decoration: underline;">SEONIC.TOP</a>
                 </div>
             </div>
             </div>


                 </div>
        </div>

   </div>
         </footer>

<div id="calc-form" class="form">
  <h3>Заказать фотосессию</h3>


  <form class="form-horizontal" method="post" action="http://lstudio.com.ua/">
	<div class="form-group">
	  <label class="control-label col-sm-2" for="name-input" >Имя</label>
	  <div class="col-sm-10">
		<input type="text" class="form-control required" id="name-input" name="name-input" value="" placeholder="Введите ваше имя">
	  </div>
	</div>
	<div class="form-group">
	  <label class="control-label col-sm-2" for="phone-input" >Телефон</label>
	  <div class="col-sm-10">
		<input type="tel" class="form-control required" id="phone-input" name="phone-input" value="" placeholder="Введите ваш номер телефона">
	  </div>
	</div>
	<div class="form-group">
	  <label class="control-label col-sm-2" for="phone-input" >E-mail</label>
	  <div class="col-sm-10">
	    <input type="email" class="form-control required"  required id="email" name="email" value="" placeholder="Email">
      </div>
	</div>
	<div class="form-group">
	  <div class="col-sm-offset-2 col-sm-10">
		<input type="submit" onsubmit="ga('send', 'event', 'order', 'order_photosession');" class="btn btn-default btn-check" value="Отправить">
		<span id="error-mesage">Корректно заполните поля</span>
	  </div>
	</div>
  </form>


</div>



</div>



   <script src="assets/js/jquery-3.1.1.min.js"></script>
   <script src="assets/js/masonry.pkgd.min.js"></script>
   <script src="assets/js/jquery.fancybox.min.js"></script>
   <script src="assets/js/slick.min.js"></script>
   <script src="assets/js/tingle.min.js"></script>

   <script src="assets/js/script.js"></script>




</body>

</html>
